$background-color: rgb(197, 179, 219);
$white-color: #fff;
$white-color-varient: rgb(241, 233, 233, 0.8);
$dim-white-color: rgba(11, 2, 24, 0.6);
$black-color: #000;
$main-color: rgb(114, 63, 152);
$main-color-variant: rgba(212, 80, 248, 0.7);
$sec-color: rgb(205, 146, 250);
$light-color: rgb(205, 143, 255);
$container-width-lg: 75%;
$container-width-md: 70%;
$container-width-sm: 80%;
$container-width-xs: 100%;
$text-color: rgba(100, 7, 187, 0.933);
$text-bcg: rgb(227, 219, 219, 0.5);
