@use "./mixins/mixins" as *;
@use "./global/variables" as *;
@use "./global/global-rules" as *;

.experience {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  h2 {
    color: $text-color;
  }
  .content {
    // @include flex-center;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    @include myMediaQueries(medium) {
      flex-direction: column;
      width: 100%;
    }
    @include myMediaQueries(small) {
      flex-direction: column;
      width: 100%;
    }
    @include myMediaQueries(mobile) {
      flex-direction: column;
      width: 100%;
    }
    .front-end,
    .back-end {
      padding: 10px;
      flex: 1;
      height: 500px;
      display: flex;
      flex-direction: column;

      @include myMediaQueries(small) {
        width: 100%;
      }
      @include myMediaQueries(mobile) {
        width: 100%;
      }
      h2 {
        color: $white-color;
      }
      .skills {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 300px));
        grid-auto-rows: max-content;
        gap: 3rem;
        place-content: center;
        @include myMediaQueries(medium) {
          gap: 3rem;
          grid-template-columns: repeat(2, minmax(100px, 300px));
        }
        @include myMediaQueries(small) {
          gap: 2rem;
          grid-template-columns: repeat(2, minmax(100px, 300px));
        }
        @include myMediaQueries(mobile) {
          grid-template-columns: minmax(100px, 300px);
        }
        .skill {
          padding: 10px;
          @include border-radius-10px;
          border: 2px solid $text-color;
          background-color: $text-bcg;
          color: $text-color;
          font-size: 20px;
          @include transition-(0.3s);
          border: 2px solid $main-color;
          background-color: transparent;
          padding: 10px;
          height: 7rem;
          @include myMediaQueries(mobile) {
            width: 18rem;
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $dim-white-color;
          .skill-title {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            i {
              font-size: 3rem;
              color: $main-color;
              @include flex-center;
            }
          }
        }
      }
    }
  }
}
