@use "./mixins/mixins" as *;
@use "./global/variables" as *;
@use "./global/global-rules" as *;

.services {
  text-align: center;
  h2 {
    padding-top: 30px;
    color: $text-color;
  }
  .services-content {
    @include flex-center;
    @include myMediaQueries(medium) {
      flex-direction: column;
      place-content: center;
      width: 100%;
    }
    @include myMediaQueries(small) {
      flex-direction: column;
      place-content: center;
      width: 100%;
    }
    @include myMediaQueries(mobile) {
      place-content: center;
      flex-direction: column;
      width: 100%;
    }
    .parag {
      text-align: left;
      font-size: 1.5rem;
      color: $white-color;
      flex: 1;
      .title {
        width: 100%;
        color: $text-color;
        @include flex-center;
        justify-content: center;
        i {
          font-size: 2rem;
        }
      }
      @include myMediaQueries(medium) {
        text-align: center;
      }
      @include myMediaQueries(small) {
        text-align: center;
      }
      @include myMediaQueries(mobile) {
        text-align: center;
      }
    }
    .img {
      flex: 1;
      width: 30rem;
      height: 30rem;

      @include myMediaQueries(x-large) {
        width: 60rem;
        height: 60rem;
      }
      @include myMediaQueries(small) {
        width: 20rem;
        height: 20rem;
      }
      @include myMediaQueries(mobile) {
        width: 20rem;
        height: 20rem;
      }
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        @include drop-shadow;
      }
    }
  }
}
